@media (max-width: 991px) {
  .main-content {
    margin-left: 0 !important; /* Elimină spațiul pentru sidebar */
    padding: 15px !important; /* Ajustează padding-ul pentru dispozitive mici */
  }
}

body {
  overflow-x: hidden;
}

@media (max-width: 768px) {
  .container-fluid {
    padding: 15px; /* Ajustează padding-ul pentru mobile */
    margin-left: 0 !important; /* Elimină spațiul pentru sidebar */
  }
}


@media (max-width: 576px) {
  .py-5 {
    padding: 2rem 0; /* Reducem padding-ul */
  }
  iframe {
    height: 200px; /* Ajustăm dimensiunea iframe-ului */
  }
}
